{% extends 'base.html.twig' %}

{% block title %}Livres disponibles{% endblock %}

{% block content %}
<style>

</style>

<div class="example-wrapper">
    <h1>Livres disponibles</h1>

</div>
{% endblock %}
